<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Forgot Password</title>
<link rel="stylesheet" th:href="@{/css/reset.css}">
<link rel="stylesheet" th:href="@{/css/auth/forgot-password.css}">

</head>
<body>
	<h1>Password Reset</h1>
	<form th:action="@{/forgot-password}" method="post">
		<input type="email" name="email" required placeholder="Your email">
		<button type="submit">Send Reset Link</button>
		<div th:if="${param.sent == 'true'}">Reset link sent to your
			email!</div>
	</form>
	<a th:href="@{/login}">Back to login</a>
</body>
</html>