<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login</title>
<th:block th:replace="~{common/header :: header-styles}"></th:block>
<link rel="stylesheet" th:href="@{/css/reset.css}">
<link rel="stylesheet" th:href="@{/css/auth/login.css}">
</head>

<body>
	<div th:replace="~{common/header :: cinema-header}"></div>

	<section class="login">
		<div class="login-container">
			<h1 class="login-title">Login into your account</h1>
			<div class="login-top">
				<span class="login-top-text">Don't have an account?</span> <a
					th:href="@{/registration}">Register</a>
			</div>
			<form class="login-form" th:action="@{/login}" th:object="${user}"
				method="post">

				<div class="login-middle-email">
					<input type="email" th:field="*{email}"
						placeholder="email">
				</div>
				<div class="login-middle-password">
					<input type="password" th:field="*{password}"
						placeholder="password">
				</div>
				<button type="submit" class="login-bottom-button">Login</button>
			</form>
			<div class="login-bottom">
				<a href="#">Forgot your password?</a>
			</div>
		</div>

	</section>
</body>

</html>