<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Reset Password</title>
<link rel="stylesheet" th:href="@{/css/reset.css}">
<link rel="stylesheet" th:href="@{/css/auth/registration.css}">

</head>
<body>
	<form th:action="@{/reset-password}" method="post">
		<input type="hidden" name="token" th:value="${token}"> <input
			type="password" name="password" required placeholder="New Password">
		<input type="password" name="confirmPassword" required
			placeholder="Confirm Password">
		<button type="submit">Reset Password</button>
		<div th:if=${param.error} th:text="${param.error}"></div>
	</form>
</body>
</html>