<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="header-styles">
<link rel="stylesheet" th:href="@{/css/header.css}">
</head>

<div th:fragment="cinema-header">
	<header class="header-main">
		<nav class="header-navbar">
			<div class="logo">
				<a th:href="@{/}">Cinema</a>
			</div>
			<ul class="nav-links">
				<li><a th:href="@{/home}">Home</a></li>
				<li><a th:href="@{/movies}">Movies</a></li>
				<li><a th:href="@{/schedule}">Schedule</a></li>
				<li sec:authorize="isAuthenticated()" class="dropdown">
					<button class="dropdown-btn">My Account ▼</button>
					<ul class="dropdown-menu">
						<li><a th:href="@{/account}">Profile</a></li>
						<li><a th:href="@{/dashboard}">Dashboard</a></li>
						<li>
							<form action="@{/logout}" method="post">
								<button type="submit" class="logout-bth">Logout</button>
							</form>
						</li>
					</ul>

				</li>
				<li sec:authorize="isAnonymous()"><a th:href="@{/login}">Login/Register</a>
				</li>
			</ul>
		</nav>
	</header>

	<script th:src="@{/js/header.js}" defer></script>
</div>
</html>