<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin Dashboard</title>
<link rel="stylesheet" th:href="@{/css/reset.css}">
<th:block th:insert="~{common/header :: header-styles}" />
<link rel="stylesheet" th:href="@{/css/admin/admin-dashboard.css}">
</head>
<body>
	<header th:replace="~{common/header :: cinema-header}"></header>

	<div class="dashboard-container">
		<h1 class="title">Dashboard</h1>
		<nav>
			<a th:href="@{/admin/movie}">Movies</a> 
			<a th:href="@{/admin/session}">Sessions</a> 
			<a th:href="@{/admin/cinema-hall}">CinemaHalls</a> 
			<a th:href="@{/admin/ticket}">Tickets</a> 
			<a th:href="@{/admin/genre}">Genres</a>
		</nav>


	</div>
</body>
</html>