.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.env
.env.local
.env.docker
.env.development.local
.env.test.local
.env.production.local
.env.*.local

.vscode/
.idea/
*.swp
*.swo
*~

.metadata
.project
.classpath
.factorypath
.settings/
bin/
tmp/
*.launch

*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

node_modules/
jspm_packages/
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity

build/
dist/
out/
target/

uploads/
src/main/resources/static/posters/

.gitattributes
.gitmodules
.git/