target/
.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties

*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

logs/
*.log

.idea/
*.iml
.classpath
.project
.settings/

bin/
tmp/
*.class

jacoco.exec
*.jacoco
coverage/

hs_err_pid*
*.tmp
*.bak
*.swp
*~

local.properties
.loadpath
.recommenders