target/
.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties

.idea/
*.iml
.classpath
.project
.settings/
bin/
tmp/

logs/
*.log
*.gz

uploads/
test-uploads/

jacoco.exec
*.jacoco
coverage/

*.tmp
*.bak
*.swp
*~
hs_err_pid*
local.properties
.loadpath
.recommenders