<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <th:block th:insert="~{common/header :: header-styles}" />
    <link rel="stylesheet" th:href="@{/css/user/account.css}">
</head>
<body>
    <header th:replace="~{common/header :: cinema-header}"></header>
    <section>
        <div class="account-container">
            <h1 th:if="${firstName != null and lastName != null}" 
                th:text="'Welcome, ' + ${firstName} + ' ' + ${lastName} + '!'">
            </h1>
            <div class="tabs-container">
                <div class="tabs">
                    <span class="tab-title active" data-tab="account">Account</span>
                    <span class="tab-title" data-tab="tickets">Tickets</span>
                    <span class="tab-title" data-tab="bonuses">Bonuses</span>
                </div>
                <div class="content">
                    <div id="account" class="tab-content active">Account content goes here</div>
                    <div id="tickets" class="tab-content">Tickets content goes here</div>
                    <div id="bonuses" class="tab-content">Bonuses content goes here</div>
                </div>
            </div>
        </div>
    </section>
    <script th:src="@{/js/account.js}"></script>
</body>
</html>