html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.registration {
	width: 100%;
	height: 100%;
 	display: flex;
	justify-content: center;
	align-items: center; 
	position: fixed;
	flex-direction: column;
	margin-top: 60px;
	background-color: #12161f;
}

.registration-title {
	font-size: 25px;
}

.error-message {
	color: red;
	font-size: 0.9em;
	margin-top: 5px;
	display: block;
}

.form-control {
	width: 250px;
	height: 40px;
	background-color: #12161f;

}

.registration-text {
	color: white;
}

.registration-confirm {
	background-color: #fd5f00;
}