<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registration</title>
<link rel="stylesheet" th:href="@{/css/reset.css}">
<th:block th:insert="~{common/header :: header-styles}"/>
<link rel="stylesheet" th:href="@{/css/registration.css}">

</head>

<body>
	 <header th:replace="~{common/header :: cinema-header}"></header>

	<section>
		<div class="registration">
			<h1 class="registration-title registration-text">Registration</h1>
			<div class="registration-container">
				<form class="registration-form" th:action="@{/registration}"
					th:object="${userForm}" method="post">
					
					<div class="registration-top">
						<div class="registration-group-first registration-text">
							<h2>Personal Information</h2>
							<input placeholder="First Name" type="text" id="firstName" th:field="*{firstName}" class="form-control" required>
							<span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="error-message"></span>
							 
							<input placeholder="Last Name" type="text" id="lastName" th:field="*{lastName}" class="form-control" required>
							<span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error-message"></span>
						</div>
						<div class="registration-group-second">
							<input type="date" th:field="*{dateOfBirth}" class="form-control" required>
							<span th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}" class="error-message"></span>
							
							<input placeholder="Your City" type="text" th:field="*{city}" class="form-control" required>
							<span th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="error-message"></span>
						</div>
					</div>
					
					<div class="registration-middle">
						<h2 class="registration-text">Contact Information</h2>
						<input placeholder="E-mail" type="email" id="email" th:field="*{email}" class="form-control" required> 
						<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error-message"></span>
						
						<input placeholder="Phone number" type="text" id="phoneNumber" th:field="*{phoneNumber}" class="form-control">
						<span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="error-message"></span>
					</div>
					
					<div class="registration-bottom">
						<h2 class="registration-text">Create a Password</h2>
						<input placeholder="Enter Password" type="password" id="password" th:field="*{password}" class="form-control" required>
						 <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error-message"></span>
						 
						<input placeholder="Confirm Password" type="password" id="passwordConfirm" th:field="*{passwordConfirm}" class="form-control">
						<span th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}" class="error-message"></span>
					</div>
					<button type="submit" class="registration-confirm registration-text">Sign Up</button>
				</form>
			</div>
		</div>
	</section>
</body>

</html>